In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
myFile = pd.read_csv('D:/project/550_Pattern/Project_1/550-p1-cset-krk-1.csv')
myFile
myFrame=pd.DataFrame(myFile.values, columns = ["White-King-File", "White-King-rank", "White-Rook-file", "White-Rook-rank","Black-King-file","Black-King-rank","Class"])
myFrame

,White-King-File,White-King-rank,White-Rook-file,White-Rook-rank,Black-King-file,Black-King-rank,Class
0,c,1,e,2,d,3,draw
1,b,1,d,7,c,7,draw
2,d,2,g,1,g,2,draw
3,d,4,g,6,f,6,draw
4,c,1,b,5,a,5,draw
...,...,...,...,...,...,...,...
214,d,3,d,7,a,7,nine
215,b,1,b,4,g,1,nine
216,d,4,e,8,g,2,nine
217,c,2,d,5,f,1,nine
218,d,4,c,6,e,1,nine

In [3]:
myFrame.shape

(219, 7)

In [4]:
# Split into training set:60%, holdout set:20%, Validation set: 20%

training_set = myFrame.sample(frac=0.6)
remaining_set = myFrame.drop(training_set.index)
training_set

,White-King-File,White-King-rank,White-Rook-file,White-Rook-rank,Black-King-file,Black-King-rank,Class
165,d,3,g,4,h,6,seven
112,d,2,d,8,a,2,five
218,d,4,c,6,e,1,nine
180,c,2,c,5,b,8,eight
83,c,3,c,7,b,1,three
...,...,...,...,...,...,...,...
67,c,1,h,7,a,1,two
192,d,4,b,1,h,2,eight
127,d,3,b,1,a,6,five
85,d,2,b,5,a,1,three
59,c,1,h,1,a,1,two

In [5]:
remaining_set

,White-King-File,White-King-rank,White-Rook-file,White-Rook-rank,Black-King-file,Black-King-rank,Class
0,c,1,e,2,d,3,draw
3,d,4,g,6,f,6,draw
13,a,1,h,4,g,4,draw
14,c,2,h,3,g,3,draw
17,c,1,g,6,f,5,draw
...,...,...,...,...,...,...,...
202,d,3,h,1,f,1,nine
206,d,4,f,8,g,6,nine
208,b,2,f,3,h,1,nine
209,d,4,b,6,e,1,nine
212,c,3,c,7,h,2,nine

In [6]:
classes, cls_counts = np.unique(training_set['Class'], return_counts = True)
classes, cls_counts

(array(['draw', 'eight', 'five', 'four', 'nine', 'one', 'seven', 'six',
        'three', 'two', 'zero'], dtype=object),
 array([14, 16, 11, 11, 15, 10, 13, 14, 12, 10,  5]))

In [7]:
def calculate_entropy(df_label):
    classes,class_counts = np.unique(df_label,return_counts = True)
    entropy_value = np.sum([(-class_counts[i]/np.sum(class_counts))*np.log2(class_counts[i]/np.sum(class_counts)) 
                        for i in range(len(classes))])
    return entropy_value

In [8]:
calculate_entropy(training_set['Class'])

3.41135993987002

In [9]:

for cols in training_set.columns[:-1]:
    print(cols)

White-King-File
White-King-rank
White-Rook-file
White-Rook-rank
Black-King-file
Black-King-rank

In [22]:
# dataset = training_set
# feature = Feature or attribute of the dataset, i.e column name (training_set.columns[:-1]) E.g White-King-File
# label = Name of Class label colums, i.e. 'Class'

def calculate_information_gain(dataset,feature,label): 
    # Calculate the dataset entropy
    dataset_entropy = calculate_entropy(dataset[label])   
    values,feat_counts= np.unique(dataset[feature],return_counts=True)
    
    # Calculate the weighted feature entropy                                # Call the calculate_entropy function
    weighted_feature_entropy = np.sum([(feat_counts[i]/np.sum(feat_counts))*calculate_entropy(dataset.where(dataset[feature]
                              ==values[i]).dropna()[label]) for i in range(len(values))])    
    feature_info_gain = dataset_entropy - weighted_feature_entropy    
    return feature_info_gain

In [23]:
calculate_information_gain(training_set, 'White-King-File', 'Class')

0.49742389742141757

In [17]:
class DNode:
    def __init__(self, attribute):
        self.attribute = attribute
        self.values = []
        self.children = {}

In [18]:
class LeafNode:
    def __init__(self,value):
        self.value = value

In [27]:
attributes = training_set.columns[:-1]

In [35]:
def select_attribute(dataset, attributes):
    label = 'Class'
    
    gains = [calculate_information_gain(dataset, attribute, label) for attribute in attributes]
    print("gains",gains)
    maxGainIndex = np.argmax(gains)
    print("maxGainIndex",maxGainIndex)
    print("highGainAttribute:",attributes[maxGainIndex])

In [36]:
select_attribute(training_set, attributes)

gains [0.49742389742141757, 0.33558729586215197, 0.5178150834260635, 0.5000926294391945, 0.7451682333457743, 0.4987731004886613]
maxGainIndex 4
highGainAttribute: Black-King-file